<app-header titulo="Candidatos Presidentes"></app-header>

<ion-grid>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Alejandro Giammattei" CardTitle="VAMOS" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FAlejandro%20Giammattei%20-%20VAMOS.png?alt=media&token=ce4352d5-0a1d-482d-9b47-cdc013bb840b"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Edmond Mulet" CardTitle="Humanista" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FEdmond%20Mulet%20-%20HUMANISTA.png?alt=media&token=55700d7a-9652-407b-aee8-51cf9d7342e9"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Sandra Torres" CardTitle=" UNE" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FSandra%20Torres%20-%20UNE.png?alt=media&token=1426ccd1-df4a-48be-8735-d9ffb098eb4f"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Julio Héctor Estrada" CardTitle="Creo" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FJulio%20Hector%20Estrada%20-%20Creo.png?alt=media&token=6a28fd0a-9ba7-4dc0-8eb7-5aaeabf531b3"> </app-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Amilcar Rivera" CardTitle="Libre" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FAmilcar%20Rivera%20-%20VICTORIA.png?alt=media&token=ded093d1-585b-46d0-9d31-eb1549204907"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Isaac Farchi" CardTitle="Viva" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FIsaac%20Farchi%20-%20VIVA.png?alt=media&token=756cbd78-0f66-492d-ae30-ee3b3440fed1"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Zury Rios" CardTitle="Valor" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FZury%20Rios%20-%20VALOR.png?alt=media&token=1fcfc973-8f3e-4168-bd0e-ae2412cbf04c"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Roberto Arzú" CardTitle="Pan" ImageCard="https://firebasestorage.googleapis.com/v0/b/prueba1-4edce.appspot.com/o/FotosCandidatosPresidente%2FRoberto%20Arz%C3%BA%20-%20Pan.png?alt=media&token=f78ff9da-6ad9-4588-a2ac-56df3bb667e2"> </app-card>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-content>
    <ion-button href="/candidatos-alcaldes">Página de candidatos de Alcaldes</ion-button> 
</ion-content>
