<app-header titulo="Candidatos Presidentes"></app-header>

<ion-grid>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Mama"> </app-card>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
