<ion-header>
    <app-header titulo="Candidatos Presidentes"></app-header>
    <ion-progress-bar color = "secondary" value = "0.16" buffer="0.5"></ion-progress-bar>
</ion-header>

<ion-content>
    <div class="candidatos">
        <div *ngFor="let candidato of candidatos" class="cards">
            <app-card title="{{selected}}" CardSubtitle="{{candidato.presidente}}" CardTitle="{{candidato.partido}}" ImageCard="{{candidato.URL}}"  id="{{candidato.id_voto}}" (click)="PullID(candidato, candidato.id_voto)"> </app-card>
        </div>
    </div>
    <ion-button (click)="enviarDatos()">Siguiente</ion-button>
</ion-content>