<ion-header>
        <app-header titulo="Candidatos Parlacen"></app-header>
        <ion-progress-bar color = "secondary" value = "0.80" buffer="0.5"></ion-progress-bar>
</ion-header>

<ion-content>
    <div class="candidatos">
        <div *ngFor="let parl of parlacen">
            <app-card
             CardTitle="{{parl.partido}}" ImageCard="{{parl.URL}}"  button="true" id="CardPresidente" (click)="PullID(parl.id)" > </app-card>
        </div>
    </div>
    <ion-button (click)="enviarDatos()">Siguiente</ion-button>
</ion-content>
