<ion-header>
        <app-header titulo="Candidatos Distrito Electoral"></app-header>
        <ion-progress-bar color = "secondary" value = "0.64" buffer="0.5"></ion-progress-bar>
</ion-header>

<ion-content>
    <div class="candidatos">
        <div *ngFor="let distrito of distritos" class="cards">
            <app-card CardTitle="{{distrito.partido}}" ImageCard="{{distrito.URL}}"  id="{{distrito.id_voto}}" (click)="PullID(distrito.id)"> </app-card>
        </div>
    </div>
    <ion-button (click)="enviarDatos()">Siguiente</ion-button>
</ion-content>