<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Información Votante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-text color="dark" class="dpi">
    <h4>DPI: {{DPI_}}</h4>
  </ion-text>
  <ion-text color="dark">
    <h4>Nombre y apellido:</h4>
  </ion-text>
  <ion-item>
  <ion-input type="text" class="info" disabled="true" clear-input="true"> {{Nombre}}</ion-input>
  </ion-item>
  <ion-text color="dark">
    <h4>Mesa:</h4>
  </ion-text>
  <ion-item>
  <ion-input type="text" class="info" disabled="true" clear-input="true"> {{Mesa}}</ion-input>
  </ion-item>
  <ion-text color="dark">
    <h4>Centro de votación:</h4>
  </ion-text>
  <ion-item>
  <ion-input type="text" class="info" disabled="true" clear-input="true"> {{Centro}}</ion-input>
  </ion-item>
  <ion-text color="dark">
    <h4>Está empadronado:</h4>
  </ion-text> 
  <ion-item>
    <ion-input type="text" class="si" disabled="true" clear-input="true"></ion-input>
  </ion-item>
  <ion-text color="dark">
      <h4>¿Ha emitido su voto?</h4>
  </ion-text>
  <ion-item>
    <ion-input type="text" class="no" disabled="true" clear-input="true"></ion-input>
  </ion-item>
  <br>
  <ion-button class="btn" shape="round" expand="block" fill="solid" [routerLink]="['/home']" routerLinkActive="router-link-active">
    ACEPTAR
  </ion-button>
</ion-content>
