.no {
    --background: #ff4d4d;
    &::after {
        content: "NO";
        margin-right: 50%;
    }
}

.si {
    --background: #66ff66;
    &::after {
        content: "SÍ";
        margin-right: 50%;
    }
}

.info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.dpi {
    text-align: center;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    min-width: 20%;  
    max-width: 60%;
 }