.no {
    --background: #ff0000;
    &::after {
        content: "NO";
        margin-right: 50%;
    }
}

.si {
    --background: #33cc33;
    &::after {
        content: "SÍ";
        margin-right: 50%;
    }
}