<ion-header>
    <ion-toolbar color='primary'>
        <ion-title text-center>Secretaria </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content padding>
    <img class="icon" src="assets/icon/Logo-elecciones-2015-.jpg">

    <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="Nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <br>
    <ion-button (click)="prosesLogin()" expand="block"> Ingresar </ion-button>

</ion-content>