<ion-header>
    <ion-toolbar color='primary'>
        <ion-title text-center class="tittleText">Secretaria</ion-title>
    </ion-toolbar>
</ion-header>
<br>
<img class="icon" src="assets/icon/Logo-elecciones-2015-.jpg">
<br>

<ion-content color='light2' padding>
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-item color='light2'>
            <ion-label color='light2' position="floating">Username</ion-label>
            <ion-input color='light2' name="Nombre" maxlength="20" type="text" [(ngModel)]="usuario.Nombre" required></ion-input>
        </ion-item>

        <ion-item color='light2'>
            <ion-label color='light2' position="floating">Password</ion-label>
            <ion-input color='light2' name="password" type="password" [(ngModel)]="usuario.password" required></ion-input>
        </ion-item>

        <br>
        <ion-button class="boton" (click)="prosesLogin()" expand="block" type="submit" [disabled]="formulario.invalid"> Ingresar </ion-button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar color='tertiary'>
        <!---<ion-button class="button" (click)="helpLoad()" color='primary' center>Ayuda</ion-button>
    -->
    </ion-toolbar>
</ion-footer>