<ion-header>
  <app-header titulo="Confirmación de Voto"></app-header>
  <ion-progress-bar color = "secondary" value = "1" buffer="0.5"></ion-progress-bar>
</ion-header>

<ion-content>
  <div class="candidatos">
      <div class="cards">
          <app-card CardSubtitle="{{Pname}}" CardTitle="{{Ppartido}}" ImageCard="{{PURL}}"  id="{{PidVoto}}"> </app-card>
      </div>
      <div class="cards">
        <app-card CardSubtitle="{{Alname}}" CardTitle="{{Alpartido}}" ImageCard="{{AlURL}}"  id="{{AlidVoto}}"> </app-card>
    </div>
    <div class="cards">
      <app-card  CardTitle="{{lispartido}}" ImageCard="{{lisURL}}"  id="{{lisidVoto}}"> </app-card>
    </div>
    <div class="cards">
      <app-card  CardTitle="{{dispartido}}" ImageCard="{{disURL}}"  id="{{disidVoto}}"> </app-card>
    </div>
    <div class="cards">
      <app-card  CardTitle="{{parlacenpartido}}" ImageCard="{{parlacenURL}}"  id="{{parlacenidVoto}}"> </app-card>
    </div>
  </div>
  <ion-button (click)="alertaConfirmar()">Enviar Votos</ion-button>
</ion-content>
