<app-header titulo="Candidatos Alcaldes"></app-header>
<ion-grid>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div>
                <app-card CardSubtitle="Une" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Paz" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="Jam" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <app-card CardSubtitle="PP" CardTitle=" Papa"> </app-card>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
