<ion-header>
        <app-header titulo="Candidatos Lista Nacional"></app-header>
        <ion-progress-bar color = "secondary" value = "0.48" buffer="0.5"></ion-progress-bar>
</ion-header>

<ion-content>
    <div class="candidatos">
        <div *ngFor="let diputado of diputados" class="cards">
            <app-card  CardTitle="{{diputado.partido}}" ImageCard="{{diputado.URL}}"  id="{{diputado.id_voto}}" (click)="PullID(diputado.id)"> </app-card>
        </div>
    </div>
    <ion-button (click)="enviarDatos()">Siguiente</ion-button>
</ion-content>
