ion-icon {
    font-size: 96px;
}

.ion-button-Verify {
    position: relative;
    font-size: 26px;
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    align-content: center;
    margin: 0 auto;
}

.secretary-Picture {
    position: relative;
    align-content: center;
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
    max-height: 320px;
}

.contenido-general {
    position: relative;
    align-content: center;
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}