<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Inicio Secretaria de Mesa</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-item-divider>
        <ion-icon name="contact"></ion-icon>
        <ion-label>
            <h2>Secretaria</h2>
        </ion-label>
    </ion-item-divider>

    <br>
    <br>
    <ion-item>
        <ion-text color="dark">
            <h5>Instrucciones Generales</h5>
            <h6>Ingrese el DPI en la linea de abajo y luego presione VERIFICAR.</h6>
        </ion-text>
        <br>
        <ion-label position="stacked">DPI Votante
            <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input></ion-input>

    </ion-item>
    <br>
    <br>

    <ion-button shape="round" expand="block" fill="solid" [routerLink]="['/informacion']" routerLinkActive="router-link-active">
        VERIFICAR
    </ion-button>

    <ion-virtual-scroll (ionInfini)>

    </ion-virtual-scroll>

</ion-content>