<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Interfaz Votante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page"> 
  <div class = "ion-padding">
    <p>Barra de progreso</p>
    <ion-progress-bar color = "primary" value = "0.0" buffer="0.20"></ion-progress-bar>
    <br>
  </div>

  <ion-grid>
    <ion-row >
      <ion-col *ngFor = "let candidato of candidatos" size="6">
          <ion-card >
              <img class="foto" src="{{candidato.URL}}"/>
              <div class="card-title"><h2>{{candidato.presidente}}</h2></div>
              <div class="card-subtitle"><h3>{{candidato.partido}}</h3></div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="presentAlert()">Continuar
  </ion-button>
</ion-content>

