ion-card{
    min-width: 150px;
    text-align: center;
    margin: 2px;
    min-height: 250px;
    height: 250px;
    width: 170px;
}
ion-card-header{
    padding:0%;
    max-width: 170px;
    max-height: 170px;
    
}
ion-card-title{
    font-size: 16px;
    width: 140px;
    text-transform: uppercase;
}
ion-card-subtitle{
    font-size: 10px;
    width: 130px;
    margin-top: 5px;
}
ion-card-content{
    padding-top: 12px;
    height: 88px;
}
img{
    width: 170px;
    height: 170px;
}
.redBg{
    background-color: rgb(36, 150, 67);
}
.normalBg{
    background-color: white;
}
.letras{
    color: white;
}
.letrasN{
    color: black;
}
.imgcurrent{
    opacity: 1;
}
.imgCambio{
    opacity: 0.3;
}