
<ion-content>
    <br>
    <img class="icon" src="../../../../assets/icon/favicon.png">
    <br>
    <div class="contenido-general">
        <ion-text color="dark">
            <h1>Bienvenido!!</h1>
            <h3>Porfavor espere a que el presidente encargado de su mesa de votacion habilite su voto.</h3>
        </ion-text>
    </div>    
    <br>    
    <br>    
    <ion-button id="inicio" expand ="block" href="/candidatos-presidentes" [disabled]="coso">Página de candidatos de presidentes</ion-button> 
    <br>
    <br>
</ion-content>

<ion-footer>
    <ion-toolbar color='tertiary'> 

    </ion-toolbar>
</ion-footer>
