.contenido-general {
    position: relative;
    align-content: center;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
}

.inicio-Picture {
    position: relative;
    align-content: center;
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
    max-height: 320px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    max-width: 350px;
}